.App {
  position: relative;
  min-height: 100vh;
}

.particles {
  z-index: -1 !important;
  width: 100%;
  height: 100%;
}

.info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.socials {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.imgBox {
  margin-left: 25px;
  margin-right: 25px;
}

.imgBox:hover {
  transform: scale(1.3);
}

.imgButton {
  background: none;
  border: none;
  cursor: pointer;
}

.name {
  font-size: 80px;
  margin: 5px;
}

.title {
  font-size: 40px;
}
